.about{
    padding-bottom: 25px;
    padding-top: 16px;
    position: relative;
    z-index: 3;
    background: url(../img/about-bg.png) center / cover no-repeat;
    @include media(1400){
        padding-top: 75px;
        padding-bottom: 51px;
    }
    @include media(768){
        background: url(../img/about-bg-sm.png) top / cover no-repeat;
    }
    &::before{
        content: '';
        position: absolute;
        width: 330px;
        height: 390px;
        background: url(../img/about-before.svg) center / cover no-repeat;
        bottom: -123px;
        left: 133px;
        z-index: -1;
        @include media(1200){
            left: -75px;
            top: 350px;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 55px;
        @include media(992){
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
    &__title{
        margin-left: -95px;
    }
    &__subtitle{
        margin-bottom: 36px;
        order: 1;
        @include media(768){
            margin-bottom: 60px;
        }
    }
    &__desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 170.02%;
        color: #FFFFFF;
        max-width: 586px;
        width: 100%;
        z-index: 2;
        @include media(1400){
            font-weight: 400;
            font-size: 16px;
            line-height: 170.02%;
        }
    }
    &__content{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        max-width: 542px;
        width: 100%;
        flex-wrap: wrap;
        @include media(1400){
            max-width: 335px;
            width: 100%;
            gap: 18px;
        }
        @include media(992){
            margin-bottom: 38px;
        }
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 256px;
        height: 256px;
        padding: 43px 30px 48px;
        @include media(1400){
            width: 158px;
            height: 158px;
        }
        @include media(375){
            width: 135px;
            height: 135px;
            padding: 16px;
        }
        &.blue{
            transform: translateY(175px);
            background: linear-gradient(110.21deg, #2B86CF 0%, #2368BA 100%), #2377BA;
            @include media(1400){
                transform: translateY(108px);
            }
        }
        &.red{
            background: #D63546;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 80px;
        line-height: 139.02%;
        text-align: center;
        color: #FFFFFF;
        @include media(1400){
            font-weight: 400;
            font-size: 49.4465px;
            line-height: 100%;
        }
        @include media(375){
            font-size: 40px;
        }
        &.blue{
            color: #2377BA;
        }
        span{
            font-size: 50px;
            letter-spacing: 3px;
            @include media(1400){
                font-size: 24px;
            }
        }
    }
    &__p{
        font-weight: 400;
        font-size: 18px;
        line-height: 139.02%;
        text-align: center;
        color: #FFFFFF;
        z-index: 1;
        @include media(1400){
            font-weight: 400;
            font-size: 14px;
            line-height: 139.02%;
        }
        &.black{
            color: #131720;
        }
    }
}