.asks{
    padding: 100px 0;
    background: #E6EEFB;
    position: relative;
    isolation: isolate;
    @include media(1400){
        padding: 75px 0;
    }
    &::before{
        content: '';
        position: absolute;
        width: 330px;
        height: 364px;
        top: 130px;
        right: 160px;
        background: url(../img/news-before.svg) center / cover no-repeat;
        z-index: -1;
        @include media(1400){
            top: 0;
            right: 0;
        }
        @include media(992){
            width: 150px;
        }
    }
    &__title{
        margin-left: -115px;
        color: #fff !important;
    }
    &__subtitle{
        margin-bottom: 30px;
    }
    &__content{
        display: flex;
        align-items: stretch;
        flex-direction: column;
        row-gap: 22px;
    }
    .accordion{
        background: #E6EEFB;
        border-radius: 10px;
        &__button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 15px 15px 30px;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
            border-radius: 10px;
            border: 2px solid #fff;
            font-weight: 400;
            font-size: 22px;
            line-height: 139.02%;
            color: #131720;
            column-gap: 30px;
            @include media(992){
                font-weight: 400;
                font-size: 18px;
                line-height: 139.02%;
                padding: 10px 20px;
                text-align: left;
            }
            svg{
                min-width: 40px;
                width: 40px;
                height: 40px;
                transition: 300ms ease;
            }
            &.active{
                background: #E6EEFB;
                border: 2px solid #2377BA;
                border-bottom: none;
                border-radius: 10px 10px 0 0;
                svg{
                    transform: rotate(180deg);
                }
            }
        }
        &__content{
            display: none;
            background: #E6EEFB;
            border: 2px solid #2377BA;
            border-top: none;
            padding: 0 30px 12px 30px;
            border-radius: 0 0 10px 10px;
            @include media(992){
                padding: 0 20px 20px 20px;
            }
        }
        &__p{
            font-weight: 400;
            font-size: 16px;
            line-height: 139.02%;
            color: #131720;
            max-width: 1100px;
            width: 100%;
        }
    }
}