.contact{
    position: relative;
    @include media(1200){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &::before{
        content: '';
        position: absolute;
        background: url(../img/contact-before.svg) center / cover no-repeat;
        width: 330px;
        height: 364px;
        top: -110px;
        left: 100px;
        z-index: -1;
        @include media(1200){
            display: none;
        }
    }
    &::after{
        content: '';
        position: absolute;
        background: url(../img/contact-after.svg) center / cover no-repeat;
        width: 330px;
        height: 364px;
        top: 50%;
        transform: translateY(-50%);
        right: 200px;
        z-index: -1;
        @include media(1400){
            right: 0;
        }
        @include media(1200){
            width: 150px;
        }
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include media(1400){
            align-items: center;
        }
    }
    &__img{
        line-height: 0;
        img{
            line-height: 0;
        }
    }
    &__adresses{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;
    }
    &__adress{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
        @include media(575){
            align-items: flex-start;
        }
        &:nth-of-type(3){
            margin-bottom: 80px;
            @include media(1400){
                margin-bottom: 0;
            }
        }
        &-content{
            display: flex;
            align-items: flex-end;
            column-gap: 25px;
            @include media(575){
                flex-direction: column;
                align-items: flex-start;
                row-gap: 13px;
            }
        }
        &-p{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #131720;
            @include media(575){
                max-width: 180px;
            }
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 17px;
                color: #131720;
            }
            a{
                font-weight: 400;
                font-size: 32px;
                line-height: 34px;
                color: #131720;
                @include media(575){
                    font-size: 22px;
                    line-height: 23px;
                }
            }
        }
    }
    &__medias{
        display: flex;
        column-gap: 11px;
    }
    &__title{
        margin-left: -180px;
    }
}