.cost{
    padding: 100px 0;
    background: #E6EEFB;
    position: relative;
    isolation: isolate;
    @include media(1200){
        padding-top: 75px;
        padding-bottom: 80px;
    }
    &::before{
        content: '';
        z-index: -1;
        position: absolute;
        background: url(../img/news-before.svg) center / cover no-repeat;
        width: 330px;
        height: 364px;
        top: 130px;
        right: 162px;
    }
    &__title{
        color: #fff !important;
        margin-left: -115px;
        @include media(1600){
            margin-left: 0;
        }
    }
    &__subtitle{
        margin-bottom: 33px;
        @include media(1200){
            margin-bottom: 50px;
        }
    }
    &__content{
        @include media(1200){
            position: relative;
            overflow-x: auto;
            width: 100%;
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background: #FFFFFF;
        box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
        border-radius: 10px;
        padding-bottom: 30px;
        @include media(1200){
            width: max-content;
        }
    }
    &__top{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #2377BA;
        border-radius: 10px;
        padding: 15px 30px;
    }
    &__item{
        display: flex;
        justify-content: flex-start;
        padding: 20px 0px 14px;
        border-bottom: 1px solid #DCE5F3;
        margin: 0 30px;
        &:nth-of-type(1){
            padding-top: 15px;
        }
        &_1{
            min-width: 680px;
            width: 680px;
            @include media(1200){
                min-width: 500px;
                width: 500px;
            }
        }
        &_2{
            min-width: 290px;
            width: 290px;
            @include media(1200){
                min-width: 245px;
                width: 245px;
            }
        }
        &_3{
            min-width: 181px;
            width: 181px;
            @include media(1200){
                min-width: 100px;
                width: 100px;
            }
        }
    }
    &__text{
        font-weight: 400;
        font-size: 22px;
        line-height: 139.02%;
        color: #FFFFFF
    }
    &__p{
        font-weight: 400;
        font-size: 18px;
        line-height: 139.02%;
        color: #131720;
    }
}