.feedback{
    background: linear-gradient(110.21deg, #2B86CF 0%, #084287 100%), linear-gradient(110.21deg, #2B86CF 0%, #2368BA 100%), #2377BA;
    padding: 84px 0;
    @include media(768){
        padding-top: 74px;
        padding-bottom: 80px;
    }
    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media(992){
            flex-direction: column;
            align-items: flex-start;
            row-gap: 25px;
        }
    }
    &__subtitle{
        margin-bottom: 30px;
        @include media(768){
            margin-bottom: 34px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 20px;
        line-height: 139.02%;
        color: #FFFFFF;
        @include media(768){
            font-size: 17px;
            line-height: 139.02%;
        }
    }
}