.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    &-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #00000050;
    }
    &-content{
        position: absolute;
        background: #FFFFFF;
        box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
        border-radius: 10px;
        position: relative;
    }
    &-close{
        &-button{
            position: absolute;
            top: 16px;
            right: 16px;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
}