.projects{
    padding: 100px 0;
    position: relative;
    @include media(1400){
        padding: 70px 0;
    }
    &::before{
        content: '';
        position: absolute;
        width: 330px;
        height: 364px;
        background: url(../img/news-before.svg) center / cover no-repeat;
        top: 180px;
        right: 180px;
        @include media(1400){
            display: none;
        }
    }
    &__title{
        margin-left: -115px;
    }
    &__subtitle{
        margin-bottom: 45px;
    }
    &__slider{
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-slide{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            border-radius: 10px;
            @include media(1200){
                flex-direction: column-reverse;
                align-items: stretch;
            }
        }
        &-pagination{
            display: none;
            margin-top: 30px;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            @include media(1200){
                display: flex;
            }
            &-bullet{
                width: 10px;
                height: 10px;
                border: 2px solid #94A1B5;
                border-radius: 90px;
                display: block;
                &-active{
                    background: #94A1B5;
                }
            }
        }
    }
    &__content{
        background: rgba(3, 35, 68, 0.9);
        box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        padding: 27px 45px 37px 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: max-content;
        @include media(1200){
            position: static;
            transform: translateY(0);
            width: 100%;
            margin-top: -10px;
            border-radius: 0 0 10px 10px;
        }
        @include media(768){
            padding: 42px 22px 33px 22px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 22px;
        line-height: 139.02%;
        color: #FFFFFF;
        margin-bottom: 25px;
        @include media(768){
            font-weight: 400;
            font-size: 18px;
            line-height: 139.02%;
        }
    }
    &__item{
        margin-bottom: 30px;
        @include media(768){
            margin-bottom: 25px;
        }
        &:nth-of-type(3){
            margin-bottom: 0;
        }
    }
    &__span{
        font-family: VenusRisingCyrillic;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 139.02%;
        color: #FFFFFF;
        @include media(768){
            font-size: 20px;
            line-height: 139.02%;
        }
        &.blue{
            color: #2377BA;
        }
    }
    &__text{
        font-weight: 300;
        font-size: 18px;
        line-height: 139.02%;
        color: #FFFFFF;
    }
    &__img{
        border-radius: 10px;
        line-height: 0;
        object-fit: cover;
        @include media(1200){
            border-radius: 10px 10px 0 0;
        }
        img{
            width: 100% !important;
            line-height: 0;
        }
    }
    &__buttons{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 17px;
        @include media(1200){
            display: none;
        }
    }
    &__button{
        &-prev{
            cursor: pointer;
            width: 30px;
            height: 30px;
            svg{
                path{
                    fill: #A6B0C0;
                }
            }
            &:hover{
                svg{
                    path{
                        fill: #D63546;
                    }
                }
            }
            &.swiper-button-disabled{
                opacity: 0.6;
                cursor: auto;
                &:hover{
                    svg{
                        path{
                            fill: #A6B0C0;
                        }
                    }
                }
            }
        }
        &-next{
            cursor: pointer;
            width: 30px;
            height: 30px;
            svg{
                path{
                    fill: #A6B0C0;
                }
            }
            &:hover{
                svg{
                    path{
                        fill: #D63546;
                    }
                }
            }
            &.swiper-button-disabled{
                opacity: 0.6;
                cursor: auto;
                &:hover{
                    svg{
                        path{
                            fill: #A6B0C0;
                        }
                    }
                }
            }
        }
    }
}