.top{
    padding-top: 20px;
    padding-bottom: 58px;
    background: url(../img/top-bg.png) top / cover no-repeat;
    z-index: 99;
    @include media(575){
        padding-top: 25px;
        padding-bottom: 45px;
    }
    &__list{
        display: flex;
        justify-content: flex-start;
        column-gap: 3px;
        margin-bottom: 53px;
        @include media(575){
            margin-bottom: 40px;
        }
    }
    &__span, &__link{
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #FFFFFF;
    }
    &__title{
        font-family: VenusRisingCyrillic;
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 136.02%;
        text-transform: uppercase;
        color: #FFFFFF;
        @include media(575){
            font-weight: 400;
            font-size: 28px;
            line-height: 136.02%;
        }
        &.payment__subtitle{
            font-size: 24px;
            line-height: 136.02%;
            @include media(768){
                font-size: 18px;
                line-height: 136.02%;
            }
        }
    }
}