.works{
    background: url(../img/works-bg.png) center / cover no-repeat;
    padding-top: 115px;
    padding-bottom: 140px;
    position: relative;
    z-index: -1;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 260px;
        height: 365px;
        background: url(../img/works-before.svg) center / cover no-repeat;
        @include media(1800){
            width: 76px;
            transform: translateY(0);
            top: 160px;
        }
    }
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: -90px;
        width: 260px;
        height: 365px;
        background: url(../img/works-after.svg) center / cover no-repeat;
        @include media(1800){
            width: 86px;
            bottom: 33px;
            top: auto;
            z-index: -1;
        }
    }
    @include media(1200){
        padding-top: 74px;
        padding-bottom: 80px;
    }
    &__title{
        white-space: nowrap;
        color: rgba(13, 76, 145, 0.38) !important;
    }
    &__subtitle{
        margin-bottom: 70px;
        @include media(768){
            margin-bottom: 54px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
        @include media(1200){
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
        }
        &.first{
            display: flex;
            @include media(1200){
                display: none;
            }
            @include media(575){
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 50px;
            }
            @include media(430){
                column-gap: 0;
            }
        }
        &.second{
            display: none;
            @include media(1200){
                display: flex;
                align-items: center;
            }
            @include media(575){
                display: none;
            }
        }
    }
    &__top, &__bottom{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        column-gap: 33px;
    }
    &__top{
        .works__item{
            &:nth-of-type(2){
                &::before{
                    @include media(768){
                        right: -50px;
                    }
                }
            }
        }
    }
    &__bottom{
        .works__item{
            &:nth-of-type(2){
                &::before{
                    @include media(768){
                        right: -30px;
                    }
                }
            }
        }
    }
    &__item{
        position: relative;
        @include media(575){
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 145px;
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            background: url(../img/works-arrow.svg) center / contain no-repeat;
            width: 45px;
            height: 32px;
        }
        &:nth-of-type(odd){
            &::before{
                bottom: -14px;
                right: -10px;
                @include media(575){
                    right: -15px;
                }
                @include media(430){
                    right: -21px;
                    bottom: 0;
                }
            }
        }
        &:nth-of-type(even){
            margin-top: 66px;
            @include media(575){
                margin-top: 47px;
            }
            &::before{
                right: -30px;
                transform: rotate(-50deg);
                bottom: 65px;
                @include media(992){
                    right: -20px;
                }
                @include media(430){
                    left: -15px;
                    bottom: -50px;
                }
            }
        }
        &:nth-of-type(2), &:nth-of-type(4){
            &::before{
                @include media(575){
                    right: auto;
                    left: -25px;
                    transform: rotate(120deg);
                    bottom: -30px;
                }
            }
        }
        &:nth-of-type(3), &:nth-of-type(5){
            // @include media(575){
            //     margin-top: -50px;
            // }
        }
        &:nth-of-type(3){
            &::before{
                @include media(1200){
                    display: none;
                }
                @include media(575){
                    display: block;
                }
            }
        }
        &:nth-of-type(5){
            &::before{
                @include media(575){
                    bottom: -47px;
                    transform: rotate(23deg);
                }
            }
        }
        &:nth-of-type(6){
            &::before{
                display: none;
            }
        }
    }
    &__p{
        font-weight: 400;
        font-size: 18px;
        line-height: 139.02%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
        max-width: 175px;
        width: 100%;
        @include media(575){
            font-size: 16px;
            line-height: 139.02%;
        }
    }
    &__img{
        @include media(575){
            width: 98px;
            height: 98px;
        }
        img{
            @include media(575){
                width: 100%;
            }
        }
    }
}