.works{
    background: url(../img/works-bg.png) center / cover no-repeat;
    padding-top: 115px;
    padding-bottom: 140px;
    @include media(1200){
        padding-top: 74px;
        padding-bottom: 80px;
    }
    &__title{
        white-space: nowrap;
        color: rgba(13, 76, 145, 0.38) !important;
    }
    &__subtitle{
        margin-bottom: 70px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
        @include media(1200){
            flex-wrap: wrap;
        }
    }
    &__item{
        position: relative;
        @include media(1200){
            width: calc(33.3333% - 20px);
        }
        &::before{
            content: '';
            position: absolute;
            background: url(../img/works-arrow.svg) center / contain no-repeat;
            width: 45px;
            height: 32px;
        }
        &:nth-of-type(odd){
            &::before{
                bottom: -14px;
                right: -10px;
            }
        }
        &:nth-of-type(even){
            &::before{
                right: -30px;
                transform: rotate(-50deg);
                bottom: 65px;
            }
        }
        &:nth-of-type(6){
            &::before{
                display: none;
            }
        }
        &:nth-of-type(even){
            margin-top: 66px;
        }
    }
    &__p{
        font-weight: 400;
        font-size: 18px;
        line-height: 139.02%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 25px;
        max-width: 175px;
        width: 100%;
    }
}