mixin about()
    section.section.about 
        .about__body.container  
            h2.about__subtitle.subtitle.white.enable-lg О нас
            .about__left 
                h1.about__title.title.dark.disable-xxl О нас
                h2.about__subtitle.subtitle.white.disable-lg О нас
                p.about__desc Оценочная компания "АМД КОНСАЛТИНГ" успешно сотрудничает с органами местного, регионального и федерального управления, с крупными и малыми субъектами бизнеса и, конечно, с гражданами, помогая им реализовать поставленные цели с гарантией качества от нашей компании. #[br] #[br] Наши специалисты имеют большой опыт в оценке недвижимости, оборудования, имущественных комплексов, бизнеса, ущерба и прочих видов имущественных интересов. #[br] #[br] Наша цель – оказание профессиональных услуг в области оценки, приближающих наших Клиентов к победам. #[br] #[br] Если Вам нужны услуги независимой оценки – наша компания всегда будет рада Вам помочь! Просто позвоните по единому номеру и бесплатно проконсультируйтесь с нашими специалистами.
            .about__content     
                .about__item 
                    p.about__text.blue 2015
                    p.about__p.black год основания
                .about__item.blue   
                    p.about__text 50 #[span лет]
                    p.about__p сумарный опыт оценщиков
                .about__item.red 
                    p.about__text 3 #[span млрд]
                    p.about__p ежегодно оцениваемое имущество