mixin asks()
    section.section.asks 
        .asks__body.container 
            h1.asks__title.title.disable-xxl вопросы
            h2.asks__subtitle.subtitle Частые вопросы
            .asks__content 
                .accordion 
                    button(type="button").accordion__button Бесплатно рассчитываем рыночную стоимость объекта оценки?
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" rx="20" fill="#2377BA"/>
                            <g clip-path="url(#clip0_7327_2280)">
                            <path d="M19.2079 24.2319L12.3284 17.3522C11.8905 16.9145 11.8905 16.205 12.3284 15.7675C12.7658 15.3301 13.4754 15.3301 13.9128 15.7675L20.0001 21.8551L26.0872 15.7677C26.5249 15.3303 27.2343 15.3303 27.6718 15.7677C28.1094 16.2052 28.1094 16.9147 27.6718 17.3523L20.7921 24.2321C20.5733 24.4508 20.2868 24.56 20.0001 24.56C19.7134 24.56 19.4266 24.4506 19.2079 24.2319Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7327_2280">
                            <rect width="16" height="16" fill="white" transform="translate(28 12) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Соответственно, оценка проводится для определения рыночной стоимости квартир, комнат, частных домов, коттеджей и других зданий, сооружений, помещений. Заказывать рыночную оценку объектов недвижимости могут как физические, так и юридические лица. Среди клиентов нашей компании - владельцы предприятий и других видов бизнеса, в которых для принятия рациональных управленческих решений требуется обладать информацией о цене коммерческой недвижимости.
                .accordion 
                    button(type="button").accordion__button Бесплатно рассчитываем рыночную стоимость объекта оценки?
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" rx="20" fill="#2377BA"/>
                            <g clip-path="url(#clip0_7327_2280)">
                            <path d="M19.2079 24.2319L12.3284 17.3522C11.8905 16.9145 11.8905 16.205 12.3284 15.7675C12.7658 15.3301 13.4754 15.3301 13.9128 15.7675L20.0001 21.8551L26.0872 15.7677C26.5249 15.3303 27.2343 15.3303 27.6718 15.7677C28.1094 16.2052 28.1094 16.9147 27.6718 17.3523L20.7921 24.2321C20.5733 24.4508 20.2868 24.56 20.0001 24.56C19.7134 24.56 19.4266 24.4506 19.2079 24.2319Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7327_2280">
                            <rect width="16" height="16" fill="white" transform="translate(28 12) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Соответственно, оценка проводится для определения рыночной стоимости квартир, комнат, частных домов, коттеджей и других зданий, сооружений, помещений. Заказывать рыночную оценку объектов недвижимости могут как физические, так и юридические лица. Среди клиентов нашей компании - владельцы предприятий и других видов бизнеса, в которых для принятия рациональных управленческих решений требуется обладать информацией о цене коммерческой недвижимости.
                .accordion 
                    button(type="button").accordion__button Бесплатно рассчитываем рыночную стоимость объекта оценки?
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" rx="20" fill="#2377BA"/>
                            <g clip-path="url(#clip0_7327_2280)">
                            <path d="M19.2079 24.2319L12.3284 17.3522C11.8905 16.9145 11.8905 16.205 12.3284 15.7675C12.7658 15.3301 13.4754 15.3301 13.9128 15.7675L20.0001 21.8551L26.0872 15.7677C26.5249 15.3303 27.2343 15.3303 27.6718 15.7677C28.1094 16.2052 28.1094 16.9147 27.6718 17.3523L20.7921 24.2321C20.5733 24.4508 20.2868 24.56 20.0001 24.56C19.7134 24.56 19.4266 24.4506 19.2079 24.2319Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7327_2280">
                            <rect width="16" height="16" fill="white" transform="translate(28 12) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Соответственно, оценка проводится для определения рыночной стоимости квартир, комнат, частных домов, коттеджей и других зданий, сооружений, помещений. Заказывать рыночную оценку объектов недвижимости могут как физические, так и юридические лица. Среди клиентов нашей компании - владельцы предприятий и других видов бизнеса, в которых для принятия рациональных управленческих решений требуется обладать информацией о цене коммерческой недвижимости.
                .accordion 
                    button(type="button").accordion__button Бесплатно рассчитываем рыночную стоимость объекта оценки?
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" rx="20" fill="#2377BA"/>
                            <g clip-path="url(#clip0_7327_2280)">
                            <path d="M19.2079 24.2319L12.3284 17.3522C11.8905 16.9145 11.8905 16.205 12.3284 15.7675C12.7658 15.3301 13.4754 15.3301 13.9128 15.7675L20.0001 21.8551L26.0872 15.7677C26.5249 15.3303 27.2343 15.3303 27.6718 15.7677C28.1094 16.2052 28.1094 16.9147 27.6718 17.3523L20.7921 24.2321C20.5733 24.4508 20.2868 24.56 20.0001 24.56C19.7134 24.56 19.4266 24.4506 19.2079 24.2319Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7327_2280">
                            <rect width="16" height="16" fill="white" transform="translate(28 12) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Соответственно, оценка проводится для определения рыночной стоимости квартир, комнат, частных домов, коттеджей и других зданий, сооружений, помещений. Заказывать рыночную оценку объектов недвижимости могут как физические, так и юридические лица. Среди клиентов нашей компании - владельцы предприятий и других видов бизнеса, в которых для принятия рациональных управленческих решений требуется обладать информацией о цене коммерческой недвижимости.
                .accordion.disable-lg
                    button(type="button").accordion__button Бесплатно рассчитываем рыночную стоимость объекта оценки?
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="40" height="40" rx="20" fill="#2377BA"/>
                            <g clip-path="url(#clip0_7327_2280)">
                            <path d="M19.2079 24.2319L12.3284 17.3522C11.8905 16.9145 11.8905 16.205 12.3284 15.7675C12.7658 15.3301 13.4754 15.3301 13.9128 15.7675L20.0001 21.8551L26.0872 15.7677C26.5249 15.3303 27.2343 15.3303 27.6718 15.7677C28.1094 16.2052 28.1094 16.9147 27.6718 17.3523L20.7921 24.2321C20.5733 24.4508 20.2868 24.56 20.0001 24.56C19.7134 24.56 19.4266 24.4506 19.2079 24.2319Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7327_2280">
                            <rect width="16" height="16" fill="white" transform="translate(28 12) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Соответственно, оценка проводится для определения рыночной стоимости квартир, комнат, частных домов, коттеджей и других зданий, сооружений, помещений. Заказывать рыночную оценку объектов недвижимости могут как физические, так и юридические лица. Среди клиентов нашей компании - владельцы предприятий и других видов бизнеса, в которых для принятия рациональных управленческих решений требуется обладать информацией о цене коммерческой недвижимости. 