mixin clients()
    section.section.clients 
        .clients__body.container 
            h1.clients__title.title.dark.disable-xxl Клиенты
            .clients__top 
                h2.clients__subtitle.subtitle.white Нам доверяют
                .swiper-buttons.clients__buttons.disable-xxl
                    .swiper-button-prev.clients__button-prev
                    .swiper-button-next.clients__button-next
            .clients__content
                .clients__slider.slider 
                    .clients__swiper.swiper 
                        .clients__swiper-wrapper.swiper-wrapper     
                            .clients__slide.swiper-slide 
                                img(src="@img/clients-1.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide 
                                img(src="@img/clients-2.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide 
                                img(src="@img/clients-3.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide.disable-md
                                img(src="@img/clients-4.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide 
                                img(src="@img/clients-1.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide 
                                img(src="@img/clients-2.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide 
                                img(src="@img/clients-3.png", alt="" draggable="false" loading="lazy") 
                            .clients__slide.swiper-slide.disable-md
                                img(src="@img/clients-4.png", alt="" draggable="false" loading="lazy") 
            .swiper-pagination.clients__pagination.enable-xxl
                
