mixin company()
    section.section.company 
        .company__body.container 
            h1.company__title.title.disable-xxl о компании
            .company__row 
                .company__texts 
                    p.company__desc ООО «АМД КОНСАЛТИНГ» – это компания, которая профессионально занимается оценкой всех видов активов, с репутацией надежного и ответственного партнера. #[br] #[br] Наша миссия – это полноценное и профессиональное решение всевозможных задач Клиентов, обратившихся к нам за независимой оценкой.
                    h2.company__subtitle Чем мы отличаемся от других организаций?
                    li.company__li.disable-xl Наша компания всегда индивидуально подходит к решению поставленных задач. Мы не работаем по шаблону со своими Клиентами. Каждый Клиент – это новый, персональный проект.
                .company__img
                    img(src="@img/company-img.png", alt="" draggable="false" loading="lazy")
            li.company__li.enable-xl Наша компания всегда индивидуально подходит к решению поставленных задач. Мы не работаем по шаблону со своими Клиентами. Каждый Клиент – это новый, персональный проект.
            li.company__li Компания "АМД КОНСАЛТИНГ" в процессе работы проявляет гибкость и лояльность к своим Клиентам и делает всё для того,
            p.company__desc чтобы наши Клиенты получили полноценную и качественную услугу, которая нужна именно им. Поэтому мы гарантируем качество выполнения задач, каждого кто обратился именно к нам. Мы всегда на связи! Каждый Клиент в процессе работы может позвонить и узнать на каком этапе находится выполнение работы или внести коррективы в этот процесс, либо просто получить дополнительную консультацию.
            li.company__li Огромная часть новых Клиентов приходит к нам по рекомендации своих друзей, коллег и даже конкурентов по бизнесу, которые уже обращались в нашу компанию за оценкой. Нас рекомендуют, – это 
            .company__content 
                .company__item 
                    p.company__text.blue 2015
                    p.company__p.black год основания
                .company__item.blue 
                    p.company__text 50 #[span лет]
                    p.company__p сумарный опыт #[br] оценщиков
                .company__item.red 
                    p.company__text 3 #[span млрд]
                    p.company__p ежегодно оцениваемое имущество