mixin cost()
    section.section.cost 
        .cost__body.container   
            h1.cost__title.title Стоимость
            h2.cost__subtitle.subtitle Стоимость оценки
            .cost__content 
                .cost__top 
                    p.cost__text.cost_item_1 Вид услуги 
                    p.cost__text.cost_item_2 Стоимость, руб.
                    p.cost__text.cost_item_3 Срок 
                .cost__item 
                    p.cost__p.cost_item_1 Оценка недвижимости жилых и нежилых помещений  
                    p.cost__p.cost_item_2 3 500  
                    p.cost__p.cost_item_3 3 дня  
                .cost__item 
                    p.cost__p.cost_item_1 Оценка недвижимости жилых и нежилых помещений  
                    p.cost__p.cost_item_2 3 500  
                    p.cost__p.cost_item_3 3 дня  
                .cost__item 
                    p.cost__p.cost_item_1 Оценка недвижимости жилых и нежилых помещений  
                    p.cost__p.cost_item_2 3 500  
                    p.cost__p.cost_item_3 3 дня  
                .cost__item 
                    p.cost__p.cost_item_1 Оценка недвижимости жилых и нежилых помещений  
                    p.cost__p.cost_item_2 3 500  
                    p.cost__p.cost_item_3 3 дня  
                .cost__item 
                    p.cost__p.cost_item_1 Оценка недвижимости жилых и нежилых помещений  
                    p.cost__p.cost_item_2 3 500  
                    p.cost__p.cost_item_3 3 дня  
                .cost__item 
                    p.cost__p.cost_item_1 Оценка недвижимости жилых и нежилых помещений  
                    p.cost__p.cost_item_2 3 500  
                    p.cost__p.cost_item_3 3 дня  