mixin feedback()
    section.section.feedback 
        .feedback__body.container   
            .feedback__left 
                h2.feedback__subtitle.subtitle.white Обратная связь
                p.feedback__p Оставьте заявку и наш  менеджер свяжется с Вами в течении 30 минут
            a(href="#!").intro__btn.btn Оставить заявку 