mixin intro()
    .intro 
        section.intro__body.container
            .slider 
                .swiper.intro__swiper 
                    .swiper-wrapper.intro__swiper-wrapper 
                        .swiper-slide.intro__slide 
                            .intro__content 
                                h1.intro__title Независимая оценка недвижимости
                                a(href="#!").intro__btn.btn Узнать подробнее
                            