mixin intro()
    .intro 
        section.intro__body
            .slider.intro__slider
                .swiper.intro__swiper 
                    .swiper-wrapper.intro__swiper-wrapper 
                        .swiper-slide.intro__slide 
                            .intro__row.container
                                .intro__content 
                                    h1.intro__title Независимая оценка недвижимости
                                    a(href="#!").intro__btn.btn Узнать подробнее
                                .intro__img 
                                    img(src="@img/intro-img.png", alt="" draggable="false" loading="lazy").disable-sm
                                    img(src="@img/intro-img-sm.png", alt="" draggable="false" loading="lazy").enable-sm
                        .swiper-slide.intro__slide 
                            .intro__row.container
                                .intro__content 
                                    h1.intro__title Независимая оценка недвижимости
                                    a(href="#!").intro__btn.btn Узнать подробнее
                                .intro__img 
                                    img(src="@img/intro-img.png", alt="" draggable="false" loading="lazy").disable-sm
                                    img(src="@img/intro-img-sm.png", alt="" draggable="false" loading="lazy").enable-sm
                        .swiper-slide.intro__slide 
                            .intro__row.container
                                .intro__content 
                                    h1.intro__title Независимая оценка недвижимости
                                    a(href="#!").intro__btn.btn Узнать подробнее
                                .intro__img 
                                    img(src="@img/intro-img.png", alt="" draggable="false" loading="lazy").disable-sm
                                    img(src="@img/intro-img-sm.png", alt="" draggable="false" loading="lazy").enable-sm
                .intro__navigations.container  
                    .swiper-button-prev.intro__button-prev 
                    .swiper-pagination.intro__pagination
                    .swiper-button-next.intro__button-next