mixin licenses()
    section.section.licenses 
        .licenses__body.container  
            .licenses__top 
                h2.licenses__subtitle.subtitle LICENSES
                .licenses__buttons 
                    .swiper-button-prev.licenses__button-prev
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.5312 15C29.5312 6.97266 23.0273 0.46875 15 0.46875C6.97266 0.46875 0.46875 6.97266 0.46875 15C0.46875 23.0273 6.97266 29.5312 15 29.5312C23.0273 29.5312 29.5312 23.0273 29.5312 15ZM15 27.6562C8.04492 27.6562 2.34375 22.0254 2.34375 15C2.34375 8.04492 7.97461 2.34375 15 2.34375C21.9551 2.34375 27.6562 7.97461 27.6562 15C27.6562 21.9551 22.0254 27.6562 15 27.6562ZM14.2676 22.2363L7.52344 15.498C7.24805 15.2227 7.24805 14.7773 7.52344 14.502L14.2676 7.76367C14.543 7.48828 14.9883 7.48828 15.2637 7.76367L15.668 8.16797C15.9434 8.44336 15.9434 8.90039 15.6563 9.16992L10.6465 14.0039H21.7969C22.1836 14.0039 22.5 14.3203 22.5 14.707V15.293C22.5 15.6797 22.1836 15.9961 21.7969 15.9961H10.6465L15.6621 20.8301C15.9434 21.1055 15.9492 21.5566 15.6738 21.832L15.2695 22.2363C14.9883 22.5117 14.543 22.5117 14.2676 22.2363Z" fill=""/>
                        </svg>
                    .swiper-button-next.licenses__button-next
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_7097_5277)">
                            <path d="M0.468751 15C0.468751 23.0273 6.97266 29.5312 15 29.5312C23.0273 29.5312 29.5313 23.0273 29.5313 15C29.5313 6.97266 23.0273 0.468749 15 0.468749C6.97266 0.468748 0.468752 6.97265 0.468751 15ZM15 2.34375C21.9551 2.34375 27.6563 7.97461 27.6563 15C27.6563 21.9551 22.0254 27.6562 15 27.6562C8.04492 27.6562 2.34375 22.0254 2.34375 15C2.34375 8.04492 7.97461 2.34375 15 2.34375ZM15.7324 7.76367L22.4766 14.502C22.752 14.7773 22.752 15.2227 22.4766 15.498L15.7324 22.2363C15.457 22.5117 15.0117 22.5117 14.7363 22.2363L14.332 21.832C14.0566 21.5566 14.0566 21.0996 14.3437 20.8301L19.3535 15.9961L8.20313 15.9961C7.81641 15.9961 7.5 15.6797 7.5 15.293L7.5 14.707C7.5 14.3203 7.81641 14.0039 8.20313 14.0039L19.3535 14.0039L14.3379 9.16992C14.0566 8.89453 14.0508 8.44336 14.3262 8.16797L14.7305 7.76367C15.0117 7.48828 15.457 7.48828 15.7324 7.76367Z" fill=""/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7097_5277">
                            <rect width="30" height="30" fill="white" transform="translate(30 30) rotate(-180)"/>
                            </clipPath>
                            </defs>
                        </svg>
            .licenses__slider.slider
                .licenses__swiper.swiper 
                    .licenses__swiper-wrapper.swiper-wrapper 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy") 
                        .licenses__slide.swiper-slide 
                            img(src="@img/licenses-img.png", alt="" draggable="false" loading="lazy")
                .licenses__pagination.swiper-pagination