mixin news()
    section.section.news 
        .news__body.container 
            h1.news__title.title.disable-xxl Новости
            .news__row 
                .news__left 
                    h2.news__subtitle.subtitle новости
                    p.news__p Актуальные новости компании «АМД Консалтинг», статьи, блоги и интервью наших экспертов
                    a(href="news.html").news__btn.intro__btn.btn.disable-xl Все новости
                .news__right 
                    .news__slider.slider 
                        .news__swiper.swiper 
                            .news__swiper-wrapper.swiper-wrapper 
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="news.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="news.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="news.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="news.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="news.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="news.html").news__link Подробнее
                        .news__buttons.disable-xl 
                            .news__button-prev 
                                <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_7156_10767)">
                                    <path d="M29.5391 15C29.5391 6.97266 23.0352 0.46875 15.0078 0.46875C6.98047 0.46875 0.476562 6.97266 0.476562 15C0.476562 23.0273 6.98047 29.5312 15.0078 29.5312C23.0352 29.5312 29.5391 23.0273 29.5391 15ZM15.0078 27.6562C8.05274 27.6562 2.35156 22.0254 2.35156 15C2.35156 8.04492 7.98242 2.34375 15.0078 2.34375C21.9629 2.34375 27.6641 7.97461 27.6641 15C27.6641 21.9551 22.0332 27.6562 15.0078 27.6562ZM14.2754 22.2363L7.53125 15.498C7.25586 15.2227 7.25586 14.7773 7.53125 14.502L14.2754 7.76367C14.5508 7.48828 14.9961 7.48828 15.2715 7.76367L15.6758 8.16797C15.9512 8.44336 15.9512 8.90039 15.6641 9.16992L10.6543 14.0039H21.8047C22.1914 14.0039 22.5078 14.3203 22.5078 14.707V15.293C22.5078 15.6797 22.1914 15.9961 21.8047 15.9961H10.6543L15.6699 20.8301C15.9512 21.1055 15.957 21.5566 15.6816 21.832L15.2773 22.2363C14.9961 22.5117 14.5508 22.5117 14.2754 22.2363V22.2363Z" fill=""/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7156_10767">
                                    <rect width="30" height="30" fill="" transform="translate(0.0078125)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .news__button-next
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_7156_10765)">
                                    <path d="M0.468748 15C0.468747 23.0273 6.97265 29.5312 15 29.5312C23.0273 29.5312 29.5313 23.0273 29.5313 15C29.5313 6.97266 23.0273 0.468749 15 0.468749C6.97266 0.468748 0.468748 6.97265 0.468748 15ZM15 2.34375C21.9551 2.34375 27.6563 7.97461 27.6563 15C27.6563 21.9551 22.0254 27.6562 15 27.6562C8.04492 27.6562 2.34375 22.0254 2.34375 15C2.34375 8.04492 7.97461 2.34375 15 2.34375ZM15.7324 7.76367L22.4766 14.502C22.752 14.7773 22.752 15.2227 22.4766 15.498L15.7324 22.2363C15.457 22.5117 15.0117 22.5117 14.7363 22.2363L14.332 21.832C14.0566 21.5566 14.0566 21.0996 14.3437 20.8301L19.3535 15.9961L8.20312 15.9961C7.8164 15.9961 7.5 15.6797 7.5 15.293L7.5 14.707C7.5 14.3203 7.8164 14.0039 8.20312 14.0039L19.3535 14.0039L14.3379 9.16992C14.0566 8.89453 14.0508 8.44336 14.3262 8.16797L14.7305 7.76367C15.0117 7.48828 15.457 7.48828 15.7324 7.76367V7.76367Z" fill=""/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7156_10765">
                                    <rect width="30" height="30" fill="" transform="translate(30 30) rotate(-180)"/>
                                    </clipPath>
                                    </defs>
                                </svg> 
                        .news__pagination.swiper-pagination.enable-lg
                        a(href="news.html").news__btn.intro__btn.btn.enable-xl Все новости 