mixin news()
    section.section.news 
        .news__body.container 
            h1.news__title.title.disable-xxl Новости
            .news__row 
                .news__left 
                    h2.news__subtitle.subtitle новости
                    p.news__p Актуальные новости компании «АМД Консалтинг», статьи, блоги и интервью наших экспертов
                    a(href="news.html").news__btn.intro__btn.btn.disable-xl Все новости
                .news__right 
                    .news__slider.slider 
                        .news__swiper.swiper 
                            .news__swiper-wrapper.swiper-wrapper 
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="about.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="about.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="about.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="about.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="about.html").news__link Подробнее
                                .news__slide.swiper-slide 
                                    span.news__date 23.12.2021
                                    p.news__desc Вам налог! Что делать , если кадастровая оценка квартиры завышена?
                                    a(href="about.html").news__link Подробнее
                        .news__buttons.disable-xl 
                            .news__button-prev 
                            .news__button-next 
                        .news__pagination.swiper-pagination.enable-lg
                        a(href="news.html").news__btn.intro__btn.btn.enable-xl Все новости 