mixin objects()
    section.section.objects 
        .objects__body.container 
            h1.objects__title.title.disable-1920 Объекты оценки
            h2.objects__subtitle.subtitle Объекты оценки
            .objects__content 
                .objects__item 
                    .objects__item-top 
                        .objects__item-img 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M49.6994 24.6973L44.081 19.0789V7.635H32.6371L25.0021 0L0.304688 24.6973L5.92309 30.3157V50H44.0809V30.3158L49.6994 24.6973ZM25.0021 4.15109L35.2754 14.4244V10.5702H41.1458V20.2948L45.5485 24.6974L43.4735 26.7724L25.0021 8.30119L6.53088 26.7724L4.45577 24.6973L25.0021 4.15109ZM20.5993 47.0648V35.3239H29.4049V47.0648H20.5993ZM32.3402 47.0648V32.3887H17.6641V47.0648H8.85841V28.596L25.0021 12.4523L41.1458 28.596V47.0649H32.3402V47.0648Z" fill=""/>
                            </svg>
                        p.objects__item-p Оценка жилой недвижимости
                    .objects__item-content 
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2279)">
                                    <path d="M20.0265 18.6348H18.8125V19.8488H20.0265V18.6348Z" fill="white"/>
                                    <path d="M25.3666 12.8683H24.6382V11.6543H23.4242V12.8683H15.4118V11.6543H14.1978V12.8683H13.4694C12.4653 12.8683 11.6484 13.6852 11.6484 14.6893V25.3725C11.6484 26.3766 12.4653 27.1935 13.4694 27.1935H17.506H17.597H19.7143C19.2946 26.8471 18.9291 26.4374 18.6319 25.9795H17.597H17.506H13.4694C13.1347 25.9795 12.8624 25.7072 12.8624 25.3725V17.3601H25.9736V18.5741V18.6348V18.6378C26.4315 18.9349 26.8412 19.3005 27.1876 19.7202V18.6348V18.5741V14.6893C27.1876 13.6852 26.3707 12.8683 25.3666 12.8683ZM25.9736 16.1461H12.8624V14.6893C12.8624 14.3546 13.1347 14.0823 13.4694 14.0823H14.1978V15.2963H15.4118V14.0823H23.4242V15.2963H24.6382V14.0823H25.3666C25.7013 14.0823 25.9736 14.3546 25.9736 14.6893V16.1461Z" fill="white"/>
                                    <path d="M23.0894 18.999C20.8302 18.999 18.9922 20.837 18.9922 23.0963C18.9922 25.3555 20.8302 27.1935 23.0894 27.1935C25.3486 27.1935 27.1867 25.3555 27.1867 23.0963C27.1867 20.837 25.3486 18.999 23.0894 18.999ZM23.0894 25.9795C21.4996 25.9795 20.2062 24.6861 20.2062 23.0963C20.2062 21.5064 21.4996 20.213 23.0894 20.213C24.6793 20.213 25.9727 21.5064 25.9727 23.0963C25.9727 24.6861 24.6793 25.9795 23.0894 25.9795Z" fill="white"/>
                                    <path d="M23.6671 21.0625H22.4531V23.7029H24.699V22.4889H23.6671V21.0625Z" fill="white"/>
                                    <path d="M17.5968 21.0625H16.3828V22.2765H17.5968V21.0625Z" fill="white"/>
                                    <path d="M15.1671 21.0625H13.9531V22.2765H15.1671V21.0625Z" fill="white"/>
                                    <path d="M15.1671 18.6348H13.9531V19.8488H15.1671V18.6348Z" fill="white"/>
                                    <path d="M15.1671 23.4912H13.9531V24.7052H15.1671V23.4912Z" fill="white"/>
                                    <path d="M17.5968 18.6348H16.3828V19.8488H17.5968V18.6348Z" fill="white"/>
                                    <path d="M17.5968 23.4912H16.3828V24.7052H17.5968V23.4912Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2279">
                                    <rect width="15.5392" height="15.5392" fill="white" transform="translate(11.6562 11.6543)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 1 дня
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2280)">
                                    <path d="M26.9429 15.2046H26.7334V13.1705C26.7334 12.3216 26.0428 11.6309 25.1938 11.6309H14.0267C12.7944 11.6309 11.7784 12.5734 11.6611 13.7754C11.6432 13.8604 11.6495 13.1036 11.6495 24.8255C11.6495 26.1363 12.7159 27.2026 14.0267 27.2026H26.9429C27.7918 27.2026 28.4825 26.5119 28.4825 25.663V16.7443C28.4826 15.8953 27.7919 15.2046 26.9429 15.2046V15.2046ZM14.0267 12.6884H25.1938C25.4596 12.6884 25.6759 12.9047 25.6759 13.1705V15.2047H14.0267C13.3197 15.2047 12.7409 14.6457 12.7087 13.9465C12.7409 13.2473 13.3197 12.6884 14.0267 12.6884V12.6884ZM26.9429 26.1451H14.0267C13.2991 26.1451 12.7071 25.5531 12.7071 24.8255V15.8614C13.0849 16.1145 13.5388 16.2622 14.0267 16.2622H26.9429C27.2087 16.2622 27.425 16.4784 27.425 16.7443V18.888H23.4457C22.0905 18.888 20.988 19.9905 20.988 21.3457C20.988 22.7009 22.0905 23.8034 23.4457 23.8034H27.425V25.663C27.425 25.9288 27.2087 26.1451 26.9429 26.1451V26.1451ZM27.425 22.7459H23.4457C22.6737 22.7459 22.0455 22.1178 22.0455 21.3457C22.0455 20.5737 22.6736 19.9455 23.4457 19.9455H27.425V22.7459Z" fill="white"/>
                                    <path d="M23.6413 22.1127C24.0645 22.1127 24.4076 21.7696 24.4076 21.3464C24.4076 20.9232 24.0645 20.5801 23.6413 20.5801C23.2181 20.5801 22.875 20.9232 22.875 21.3464C22.875 21.7696 23.2181 22.1127 23.6413 22.1127Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2280">
                                    <rect width="16.8341" height="16.8341" fill="white" transform="translate(11.6484 11)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 3000 руб.
                .objects__item 
                    .objects__item-top 
                        .objects__item-img 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M50 8.82353V0H41.1765V2.94118H8.82353V0H0V8.82353H2.94118V41.1765H0V50H8.82353V47.0588H41.1765V50H50V41.1765H47.0588V8.82353H50ZM44.1176 2.94118H47.0588V5.88235H44.1176V2.94118ZM2.94118 2.94118H5.88235V5.88235H2.94118V2.94118ZM5.88235 47.0588H2.94118V44.1176H5.88235V47.0588ZM47.0588 47.0588H44.1176V44.1176H47.0588V47.0588ZM44.1176 41.1765H41.1765V44.1176H8.82353V41.1765H5.88235V8.82353H8.82353V5.88235H41.1765V8.82353H44.1176V41.1765Z" fill=""/>
                                <path d="M12.5156 22.9248L22.9127 12.5277L24.9921 14.6072L14.595 25.0042L12.5156 22.9248Z" fill=""/>
                                <path d="M24.9922 35.4033L35.3893 25.0062L37.4687 27.0856L27.0716 37.4827L24.9922 35.4033Z" fill=""/>
                                <path d="M15.6406 32.2832L32.2759 15.6479L34.3553 17.7273L17.72 34.3626L15.6406 32.2832Z" fill=""/>
                            </svg>
                        p.objects__item-p Оценка земли
                    .objects__item-content 
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2279)">
                                    <path d="M20.0265 18.6348H18.8125V19.8488H20.0265V18.6348Z" fill="white"/>
                                    <path d="M25.3666 12.8683H24.6382V11.6543H23.4242V12.8683H15.4118V11.6543H14.1978V12.8683H13.4694C12.4653 12.8683 11.6484 13.6852 11.6484 14.6893V25.3725C11.6484 26.3766 12.4653 27.1935 13.4694 27.1935H17.506H17.597H19.7143C19.2946 26.8471 18.9291 26.4374 18.6319 25.9795H17.597H17.506H13.4694C13.1347 25.9795 12.8624 25.7072 12.8624 25.3725V17.3601H25.9736V18.5741V18.6348V18.6378C26.4315 18.9349 26.8412 19.3005 27.1876 19.7202V18.6348V18.5741V14.6893C27.1876 13.6852 26.3707 12.8683 25.3666 12.8683ZM25.9736 16.1461H12.8624V14.6893C12.8624 14.3546 13.1347 14.0823 13.4694 14.0823H14.1978V15.2963H15.4118V14.0823H23.4242V15.2963H24.6382V14.0823H25.3666C25.7013 14.0823 25.9736 14.3546 25.9736 14.6893V16.1461Z" fill="white"/>
                                    <path d="M23.0894 18.999C20.8302 18.999 18.9922 20.837 18.9922 23.0963C18.9922 25.3555 20.8302 27.1935 23.0894 27.1935C25.3486 27.1935 27.1867 25.3555 27.1867 23.0963C27.1867 20.837 25.3486 18.999 23.0894 18.999ZM23.0894 25.9795C21.4996 25.9795 20.2062 24.6861 20.2062 23.0963C20.2062 21.5064 21.4996 20.213 23.0894 20.213C24.6793 20.213 25.9727 21.5064 25.9727 23.0963C25.9727 24.6861 24.6793 25.9795 23.0894 25.9795Z" fill="white"/>
                                    <path d="M23.6671 21.0625H22.4531V23.7029H24.699V22.4889H23.6671V21.0625Z" fill="white"/>
                                    <path d="M17.5968 21.0625H16.3828V22.2765H17.5968V21.0625Z" fill="white"/>
                                    <path d="M15.1671 21.0625H13.9531V22.2765H15.1671V21.0625Z" fill="white"/>
                                    <path d="M15.1671 18.6348H13.9531V19.8488H15.1671V18.6348Z" fill="white"/>
                                    <path d="M15.1671 23.4912H13.9531V24.7052H15.1671V23.4912Z" fill="white"/>
                                    <path d="M17.5968 18.6348H16.3828V19.8488H17.5968V18.6348Z" fill="white"/>
                                    <path d="M17.5968 23.4912H16.3828V24.7052H17.5968V23.4912Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2279">
                                    <rect width="15.5392" height="15.5392" fill="white" transform="translate(11.6562 11.6543)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 1 дня
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2280)">
                                    <path d="M26.9429 15.2046H26.7334V13.1705C26.7334 12.3216 26.0428 11.6309 25.1938 11.6309H14.0267C12.7944 11.6309 11.7784 12.5734 11.6611 13.7754C11.6432 13.8604 11.6495 13.1036 11.6495 24.8255C11.6495 26.1363 12.7159 27.2026 14.0267 27.2026H26.9429C27.7918 27.2026 28.4825 26.5119 28.4825 25.663V16.7443C28.4826 15.8953 27.7919 15.2046 26.9429 15.2046V15.2046ZM14.0267 12.6884H25.1938C25.4596 12.6884 25.6759 12.9047 25.6759 13.1705V15.2047H14.0267C13.3197 15.2047 12.7409 14.6457 12.7087 13.9465C12.7409 13.2473 13.3197 12.6884 14.0267 12.6884V12.6884ZM26.9429 26.1451H14.0267C13.2991 26.1451 12.7071 25.5531 12.7071 24.8255V15.8614C13.0849 16.1145 13.5388 16.2622 14.0267 16.2622H26.9429C27.2087 16.2622 27.425 16.4784 27.425 16.7443V18.888H23.4457C22.0905 18.888 20.988 19.9905 20.988 21.3457C20.988 22.7009 22.0905 23.8034 23.4457 23.8034H27.425V25.663C27.425 25.9288 27.2087 26.1451 26.9429 26.1451V26.1451ZM27.425 22.7459H23.4457C22.6737 22.7459 22.0455 22.1178 22.0455 21.3457C22.0455 20.5737 22.6736 19.9455 23.4457 19.9455H27.425V22.7459Z" fill="white"/>
                                    <path d="M23.6413 22.1127C24.0645 22.1127 24.4076 21.7696 24.4076 21.3464C24.4076 20.9232 24.0645 20.5801 23.6413 20.5801C23.2181 20.5801 22.875 20.9232 22.875 21.3464C22.875 21.7696 23.2181 22.1127 23.6413 22.1127Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2280">
                                    <rect width="16.8341" height="16.8341" fill="white" transform="translate(11.6484 11)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 3000 руб.
                .objects__item 
                    .objects__item-top 
                        .objects__item-img 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M47.2982 47.0703V0H39.0976L31.0886 8.38994H22.9125L11.9985 19.8232V47.0703H6.88477V43.9704C9.16367 43.3296 10.8398 41.2342 10.8398 38.7533C10.8398 35.7647 8.4085 33.3334 5.41992 33.3334C2.43135 33.3334 0 35.7646 0 38.7532C0 41.2342 1.67617 43.3296 3.95508 43.9703V47.0703H0V50H50V47.0703H47.2982ZM2.92969 38.7532C2.92969 37.3801 4.04678 36.263 5.41992 36.263C6.79307 36.263 7.91016 37.3801 7.91016 38.7532C7.91016 40.1264 6.79307 41.2435 5.41992 41.2435C4.04678 41.2435 2.92969 40.1265 2.92969 38.7532ZM28.1836 47.0703H14.9282V20.9971L24.1661 11.3196H28.1836V47.0703ZM44.3686 47.0703H31.1133V12.6071L40.3511 2.92969H44.3686V47.0703Z" fill=""/>
                            </svg>
                        p.objects__item-p Оценка коммерческой недвижимости
                    .objects__item-content 
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2279)">
                                    <path d="M20.0265 18.6348H18.8125V19.8488H20.0265V18.6348Z" fill="white"/>
                                    <path d="M25.3666 12.8683H24.6382V11.6543H23.4242V12.8683H15.4118V11.6543H14.1978V12.8683H13.4694C12.4653 12.8683 11.6484 13.6852 11.6484 14.6893V25.3725C11.6484 26.3766 12.4653 27.1935 13.4694 27.1935H17.506H17.597H19.7143C19.2946 26.8471 18.9291 26.4374 18.6319 25.9795H17.597H17.506H13.4694C13.1347 25.9795 12.8624 25.7072 12.8624 25.3725V17.3601H25.9736V18.5741V18.6348V18.6378C26.4315 18.9349 26.8412 19.3005 27.1876 19.7202V18.6348V18.5741V14.6893C27.1876 13.6852 26.3707 12.8683 25.3666 12.8683ZM25.9736 16.1461H12.8624V14.6893C12.8624 14.3546 13.1347 14.0823 13.4694 14.0823H14.1978V15.2963H15.4118V14.0823H23.4242V15.2963H24.6382V14.0823H25.3666C25.7013 14.0823 25.9736 14.3546 25.9736 14.6893V16.1461Z" fill="white"/>
                                    <path d="M23.0894 18.999C20.8302 18.999 18.9922 20.837 18.9922 23.0963C18.9922 25.3555 20.8302 27.1935 23.0894 27.1935C25.3486 27.1935 27.1867 25.3555 27.1867 23.0963C27.1867 20.837 25.3486 18.999 23.0894 18.999ZM23.0894 25.9795C21.4996 25.9795 20.2062 24.6861 20.2062 23.0963C20.2062 21.5064 21.4996 20.213 23.0894 20.213C24.6793 20.213 25.9727 21.5064 25.9727 23.0963C25.9727 24.6861 24.6793 25.9795 23.0894 25.9795Z" fill="white"/>
                                    <path d="M23.6671 21.0625H22.4531V23.7029H24.699V22.4889H23.6671V21.0625Z" fill="white"/>
                                    <path d="M17.5968 21.0625H16.3828V22.2765H17.5968V21.0625Z" fill="white"/>
                                    <path d="M15.1671 21.0625H13.9531V22.2765H15.1671V21.0625Z" fill="white"/>
                                    <path d="M15.1671 18.6348H13.9531V19.8488H15.1671V18.6348Z" fill="white"/>
                                    <path d="M15.1671 23.4912H13.9531V24.7052H15.1671V23.4912Z" fill="white"/>
                                    <path d="M17.5968 18.6348H16.3828V19.8488H17.5968V18.6348Z" fill="white"/>
                                    <path d="M17.5968 23.4912H16.3828V24.7052H17.5968V23.4912Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2279">
                                    <rect width="15.5392" height="15.5392" fill="white" transform="translate(11.6562 11.6543)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 1 дня
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2280)">
                                    <path d="M26.9429 15.2046H26.7334V13.1705C26.7334 12.3216 26.0428 11.6309 25.1938 11.6309H14.0267C12.7944 11.6309 11.7784 12.5734 11.6611 13.7754C11.6432 13.8604 11.6495 13.1036 11.6495 24.8255C11.6495 26.1363 12.7159 27.2026 14.0267 27.2026H26.9429C27.7918 27.2026 28.4825 26.5119 28.4825 25.663V16.7443C28.4826 15.8953 27.7919 15.2046 26.9429 15.2046V15.2046ZM14.0267 12.6884H25.1938C25.4596 12.6884 25.6759 12.9047 25.6759 13.1705V15.2047H14.0267C13.3197 15.2047 12.7409 14.6457 12.7087 13.9465C12.7409 13.2473 13.3197 12.6884 14.0267 12.6884V12.6884ZM26.9429 26.1451H14.0267C13.2991 26.1451 12.7071 25.5531 12.7071 24.8255V15.8614C13.0849 16.1145 13.5388 16.2622 14.0267 16.2622H26.9429C27.2087 16.2622 27.425 16.4784 27.425 16.7443V18.888H23.4457C22.0905 18.888 20.988 19.9905 20.988 21.3457C20.988 22.7009 22.0905 23.8034 23.4457 23.8034H27.425V25.663C27.425 25.9288 27.2087 26.1451 26.9429 26.1451V26.1451ZM27.425 22.7459H23.4457C22.6737 22.7459 22.0455 22.1178 22.0455 21.3457C22.0455 20.5737 22.6736 19.9455 23.4457 19.9455H27.425V22.7459Z" fill="white"/>
                                    <path d="M23.6413 22.1127C24.0645 22.1127 24.4076 21.7696 24.4076 21.3464C24.4076 20.9232 24.0645 20.5801 23.6413 20.5801C23.2181 20.5801 22.875 20.9232 22.875 21.3464C22.875 21.7696 23.2181 22.1127 23.6413 22.1127Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2280">
                                    <rect width="16.8341" height="16.8341" fill="white" transform="translate(11.6484 11)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 3000 руб.
                .objects__item 
                    .objects__item-top 
                        .objects__item-img 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M49.6994 24.6973L44.081 19.0789V7.635H32.6371L25.0021 0L0.304688 24.6973L5.92309 30.3157V50H44.0809V30.3158L49.6994 24.6973ZM25.0021 4.15109L35.2754 14.4244V10.5702H41.1458V20.2948L45.5485 24.6974L43.4735 26.7724L25.0021 8.30119L6.53088 26.7724L4.45577 24.6973L25.0021 4.15109ZM20.5993 47.0648V35.3239H29.4049V47.0648H20.5993ZM32.3402 47.0648V32.3887H17.6641V47.0648H8.85841V28.596L25.0021 12.4523L41.1458 28.596V47.0649H32.3402V47.0648Z" fill=""/>
                            </svg>
                        p.objects__item-p Оценка жилой недвижимости
                    .objects__item-content 
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2279)">
                                    <path d="M20.0265 18.6348H18.8125V19.8488H20.0265V18.6348Z" fill="white"/>
                                    <path d="M25.3666 12.8683H24.6382V11.6543H23.4242V12.8683H15.4118V11.6543H14.1978V12.8683H13.4694C12.4653 12.8683 11.6484 13.6852 11.6484 14.6893V25.3725C11.6484 26.3766 12.4653 27.1935 13.4694 27.1935H17.506H17.597H19.7143C19.2946 26.8471 18.9291 26.4374 18.6319 25.9795H17.597H17.506H13.4694C13.1347 25.9795 12.8624 25.7072 12.8624 25.3725V17.3601H25.9736V18.5741V18.6348V18.6378C26.4315 18.9349 26.8412 19.3005 27.1876 19.7202V18.6348V18.5741V14.6893C27.1876 13.6852 26.3707 12.8683 25.3666 12.8683ZM25.9736 16.1461H12.8624V14.6893C12.8624 14.3546 13.1347 14.0823 13.4694 14.0823H14.1978V15.2963H15.4118V14.0823H23.4242V15.2963H24.6382V14.0823H25.3666C25.7013 14.0823 25.9736 14.3546 25.9736 14.6893V16.1461Z" fill="white"/>
                                    <path d="M23.0894 18.999C20.8302 18.999 18.9922 20.837 18.9922 23.0963C18.9922 25.3555 20.8302 27.1935 23.0894 27.1935C25.3486 27.1935 27.1867 25.3555 27.1867 23.0963C27.1867 20.837 25.3486 18.999 23.0894 18.999ZM23.0894 25.9795C21.4996 25.9795 20.2062 24.6861 20.2062 23.0963C20.2062 21.5064 21.4996 20.213 23.0894 20.213C24.6793 20.213 25.9727 21.5064 25.9727 23.0963C25.9727 24.6861 24.6793 25.9795 23.0894 25.9795Z" fill="white"/>
                                    <path d="M23.6671 21.0625H22.4531V23.7029H24.699V22.4889H23.6671V21.0625Z" fill="white"/>
                                    <path d="M17.5968 21.0625H16.3828V22.2765H17.5968V21.0625Z" fill="white"/>
                                    <path d="M15.1671 21.0625H13.9531V22.2765H15.1671V21.0625Z" fill="white"/>
                                    <path d="M15.1671 18.6348H13.9531V19.8488H15.1671V18.6348Z" fill="white"/>
                                    <path d="M15.1671 23.4912H13.9531V24.7052H15.1671V23.4912Z" fill="white"/>
                                    <path d="M17.5968 18.6348H16.3828V19.8488H17.5968V18.6348Z" fill="white"/>
                                    <path d="M17.5968 23.4912H16.3828V24.7052H17.5968V23.4912Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2279">
                                    <rect width="15.5392" height="15.5392" fill="white" transform="translate(11.6562 11.6543)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 1 дня
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2280)">
                                    <path d="M26.9429 15.2046H26.7334V13.1705C26.7334 12.3216 26.0428 11.6309 25.1938 11.6309H14.0267C12.7944 11.6309 11.7784 12.5734 11.6611 13.7754C11.6432 13.8604 11.6495 13.1036 11.6495 24.8255C11.6495 26.1363 12.7159 27.2026 14.0267 27.2026H26.9429C27.7918 27.2026 28.4825 26.5119 28.4825 25.663V16.7443C28.4826 15.8953 27.7919 15.2046 26.9429 15.2046V15.2046ZM14.0267 12.6884H25.1938C25.4596 12.6884 25.6759 12.9047 25.6759 13.1705V15.2047H14.0267C13.3197 15.2047 12.7409 14.6457 12.7087 13.9465C12.7409 13.2473 13.3197 12.6884 14.0267 12.6884V12.6884ZM26.9429 26.1451H14.0267C13.2991 26.1451 12.7071 25.5531 12.7071 24.8255V15.8614C13.0849 16.1145 13.5388 16.2622 14.0267 16.2622H26.9429C27.2087 16.2622 27.425 16.4784 27.425 16.7443V18.888H23.4457C22.0905 18.888 20.988 19.9905 20.988 21.3457C20.988 22.7009 22.0905 23.8034 23.4457 23.8034H27.425V25.663C27.425 25.9288 27.2087 26.1451 26.9429 26.1451V26.1451ZM27.425 22.7459H23.4457C22.6737 22.7459 22.0455 22.1178 22.0455 21.3457C22.0455 20.5737 22.6736 19.9455 23.4457 19.9455H27.425V22.7459Z" fill="white"/>
                                    <path d="M23.6413 22.1127C24.0645 22.1127 24.4076 21.7696 24.4076 21.3464C24.4076 20.9232 24.0645 20.5801 23.6413 20.5801C23.2181 20.5801 22.875 20.9232 22.875 21.3464C22.875 21.7696 23.2181 22.1127 23.6413 22.1127Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2280">
                                    <rect width="16.8341" height="16.8341" fill="white" transform="translate(11.6484 11)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 3000 руб.
                .objects__item 
                    .objects__item-top 
                        .objects__item-img 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.8125 13.4482H19.7422V16.3779H16.8125V13.4482Z" fill=""/>
                                <path d="M16.8125 20.1729H19.7422V23.1025H16.8125V20.1729Z" fill=""/>
                                <path d="M30.2578 20.1729H33.1875V23.1025H30.2578V20.1729Z" fill=""/>
                                <path d="M36.9844 20.1729H39.9141V23.1025H36.9844V20.1729Z" fill=""/>
                                <path d="M30.2578 26.8975H33.1875V29.8271H30.2578V26.8975Z" fill=""/>
                                <path d="M36.9844 26.8975H39.9141V29.8271H36.9844V26.8975Z" fill=""/>
                                <path d="M30.2578 33.6221H33.1875V36.5518H30.2578V33.6221Z" fill=""/>
                                <path d="M36.9844 33.6221H39.9141V36.5518H36.9844V33.6221Z" fill=""/>
                                <path d="M30.2578 40.3457H33.1875V43.2754H30.2578V40.3457Z" fill=""/>
                                <path d="M36.9844 40.3457H39.9141V43.2754H36.9844V40.3457Z" fill=""/>
                                <path d="M10.0859 20.1729H13.0156V23.1025H10.0859V20.1729Z" fill=""/>
                                <path d="M16.8125 26.8975H19.7422V29.8271H16.8125V26.8975Z" fill=""/>
                                <path d="M10.0859 26.8975H13.0156V29.8271H10.0859V26.8975Z" fill=""/>
                                <path d="M16.8125 33.6221H19.7422V36.5518H16.8125V33.6221Z" fill=""/>
                                <path d="M10.0859 33.6221H13.0156V36.5518H10.0859V33.6221Z" fill=""/>
                                <path d="M46.6378 47.0703V13.4486H26.4648V6.45996L23.1026 7.02031V0H6.72432V9.7501L3.36221 10.3104V47.0703H0V50H50V47.0703H46.6378ZM43.7081 16.3783V47.0703H26.4648V16.3783H43.7081ZM9.654 2.92969H20.1729V7.50859L9.654 9.26182V2.92969ZM6.29189 12.7923L23.5352 9.91836V13.4486V47.0703H19.7405V40.346H10.0865V47.0703H6.29189V12.7923ZM16.8108 47.0703H13.0162V43.2757H16.8108V47.0703Z" fill=""/>
                            </svg>
                        p.objects__item-p Оценка квартир
                    .objects__item-content 
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2279)">
                                    <path d="M20.0265 18.6348H18.8125V19.8488H20.0265V18.6348Z" fill="white"/>
                                    <path d="M25.3666 12.8683H24.6382V11.6543H23.4242V12.8683H15.4118V11.6543H14.1978V12.8683H13.4694C12.4653 12.8683 11.6484 13.6852 11.6484 14.6893V25.3725C11.6484 26.3766 12.4653 27.1935 13.4694 27.1935H17.506H17.597H19.7143C19.2946 26.8471 18.9291 26.4374 18.6319 25.9795H17.597H17.506H13.4694C13.1347 25.9795 12.8624 25.7072 12.8624 25.3725V17.3601H25.9736V18.5741V18.6348V18.6378C26.4315 18.9349 26.8412 19.3005 27.1876 19.7202V18.6348V18.5741V14.6893C27.1876 13.6852 26.3707 12.8683 25.3666 12.8683ZM25.9736 16.1461H12.8624V14.6893C12.8624 14.3546 13.1347 14.0823 13.4694 14.0823H14.1978V15.2963H15.4118V14.0823H23.4242V15.2963H24.6382V14.0823H25.3666C25.7013 14.0823 25.9736 14.3546 25.9736 14.6893V16.1461Z" fill="white"/>
                                    <path d="M23.0894 18.999C20.8302 18.999 18.9922 20.837 18.9922 23.0963C18.9922 25.3555 20.8302 27.1935 23.0894 27.1935C25.3486 27.1935 27.1867 25.3555 27.1867 23.0963C27.1867 20.837 25.3486 18.999 23.0894 18.999ZM23.0894 25.9795C21.4996 25.9795 20.2062 24.6861 20.2062 23.0963C20.2062 21.5064 21.4996 20.213 23.0894 20.213C24.6793 20.213 25.9727 21.5064 25.9727 23.0963C25.9727 24.6861 24.6793 25.9795 23.0894 25.9795Z" fill="white"/>
                                    <path d="M23.6671 21.0625H22.4531V23.7029H24.699V22.4889H23.6671V21.0625Z" fill="white"/>
                                    <path d="M17.5968 21.0625H16.3828V22.2765H17.5968V21.0625Z" fill="white"/>
                                    <path d="M15.1671 21.0625H13.9531V22.2765H15.1671V21.0625Z" fill="white"/>
                                    <path d="M15.1671 18.6348H13.9531V19.8488H15.1671V18.6348Z" fill="white"/>
                                    <path d="M15.1671 23.4912H13.9531V24.7052H15.1671V23.4912Z" fill="white"/>
                                    <path d="M17.5968 18.6348H16.3828V19.8488H17.5968V18.6348Z" fill="white"/>
                                    <path d="M17.5968 23.4912H16.3828V24.7052H17.5968V23.4912Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2279">
                                    <rect width="15.5392" height="15.5392" fill="white" transform="translate(11.6562 11.6543)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 1 дня
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2280)">
                                    <path d="M26.9429 15.2046H26.7334V13.1705C26.7334 12.3216 26.0428 11.6309 25.1938 11.6309H14.0267C12.7944 11.6309 11.7784 12.5734 11.6611 13.7754C11.6432 13.8604 11.6495 13.1036 11.6495 24.8255C11.6495 26.1363 12.7159 27.2026 14.0267 27.2026H26.9429C27.7918 27.2026 28.4825 26.5119 28.4825 25.663V16.7443C28.4826 15.8953 27.7919 15.2046 26.9429 15.2046V15.2046ZM14.0267 12.6884H25.1938C25.4596 12.6884 25.6759 12.9047 25.6759 13.1705V15.2047H14.0267C13.3197 15.2047 12.7409 14.6457 12.7087 13.9465C12.7409 13.2473 13.3197 12.6884 14.0267 12.6884V12.6884ZM26.9429 26.1451H14.0267C13.2991 26.1451 12.7071 25.5531 12.7071 24.8255V15.8614C13.0849 16.1145 13.5388 16.2622 14.0267 16.2622H26.9429C27.2087 16.2622 27.425 16.4784 27.425 16.7443V18.888H23.4457C22.0905 18.888 20.988 19.9905 20.988 21.3457C20.988 22.7009 22.0905 23.8034 23.4457 23.8034H27.425V25.663C27.425 25.9288 27.2087 26.1451 26.9429 26.1451V26.1451ZM27.425 22.7459H23.4457C22.6737 22.7459 22.0455 22.1178 22.0455 21.3457C22.0455 20.5737 22.6736 19.9455 23.4457 19.9455H27.425V22.7459Z" fill="white"/>
                                    <path d="M23.6413 22.1127C24.0645 22.1127 24.4076 21.7696 24.4076 21.3464C24.4076 20.9232 24.0645 20.5801 23.6413 20.5801C23.2181 20.5801 22.875 20.9232 22.875 21.3464C22.875 21.7696 23.2181 22.1127 23.6413 22.1127Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2280">
                                    <rect width="16.8341" height="16.8341" fill="white" transform="translate(11.6484 11)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 3000 руб.
                .objects__item 
                    .objects__item-top 
                        .objects__item-img 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M50 8.82353V0H41.1765V2.94118H8.82353V0H0V8.82353H2.94118V41.1765H0V50H8.82353V47.0588H41.1765V50H50V41.1765H47.0588V8.82353H50ZM44.1176 2.94118H47.0588V5.88235H44.1176V2.94118ZM2.94118 2.94118H5.88235V5.88235H2.94118V2.94118ZM5.88235 47.0588H2.94118V44.1176H5.88235V47.0588ZM47.0588 47.0588H44.1176V44.1176H47.0588V47.0588ZM44.1176 41.1765H41.1765V44.1176H8.82353V41.1765H5.88235V8.82353H8.82353V5.88235H41.1765V8.82353H44.1176V41.1765Z" fill=""/>
                                <path d="M12.5156 22.9248L22.9127 12.5277L24.9921 14.6072L14.595 25.0042L12.5156 22.9248Z" fill=""/>
                                <path d="M24.9922 35.4033L35.3893 25.0062L37.4687 27.0856L27.0716 37.4827L24.9922 35.4033Z" fill=""/>
                                <path d="M15.6406 32.2832L32.2759 15.6479L34.3553 17.7273L17.72 34.3626L15.6406 32.2832Z" fill=""/>
                            </svg>
                        p.objects__item-p Оценка земли
                    .objects__item-content 
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2279)">
                                    <path d="M20.0265 18.6348H18.8125V19.8488H20.0265V18.6348Z" fill="white"/>
                                    <path d="M25.3666 12.8683H24.6382V11.6543H23.4242V12.8683H15.4118V11.6543H14.1978V12.8683H13.4694C12.4653 12.8683 11.6484 13.6852 11.6484 14.6893V25.3725C11.6484 26.3766 12.4653 27.1935 13.4694 27.1935H17.506H17.597H19.7143C19.2946 26.8471 18.9291 26.4374 18.6319 25.9795H17.597H17.506H13.4694C13.1347 25.9795 12.8624 25.7072 12.8624 25.3725V17.3601H25.9736V18.5741V18.6348V18.6378C26.4315 18.9349 26.8412 19.3005 27.1876 19.7202V18.6348V18.5741V14.6893C27.1876 13.6852 26.3707 12.8683 25.3666 12.8683ZM25.9736 16.1461H12.8624V14.6893C12.8624 14.3546 13.1347 14.0823 13.4694 14.0823H14.1978V15.2963H15.4118V14.0823H23.4242V15.2963H24.6382V14.0823H25.3666C25.7013 14.0823 25.9736 14.3546 25.9736 14.6893V16.1461Z" fill="white"/>
                                    <path d="M23.0894 18.999C20.8302 18.999 18.9922 20.837 18.9922 23.0963C18.9922 25.3555 20.8302 27.1935 23.0894 27.1935C25.3486 27.1935 27.1867 25.3555 27.1867 23.0963C27.1867 20.837 25.3486 18.999 23.0894 18.999ZM23.0894 25.9795C21.4996 25.9795 20.2062 24.6861 20.2062 23.0963C20.2062 21.5064 21.4996 20.213 23.0894 20.213C24.6793 20.213 25.9727 21.5064 25.9727 23.0963C25.9727 24.6861 24.6793 25.9795 23.0894 25.9795Z" fill="white"/>
                                    <path d="M23.6671 21.0625H22.4531V23.7029H24.699V22.4889H23.6671V21.0625Z" fill="white"/>
                                    <path d="M17.5968 21.0625H16.3828V22.2765H17.5968V21.0625Z" fill="white"/>
                                    <path d="M15.1671 21.0625H13.9531V22.2765H15.1671V21.0625Z" fill="white"/>
                                    <path d="M15.1671 18.6348H13.9531V19.8488H15.1671V18.6348Z" fill="white"/>
                                    <path d="M15.1671 23.4912H13.9531V24.7052H15.1671V23.4912Z" fill="white"/>
                                    <path d="M17.5968 18.6348H16.3828V19.8488H17.5968V18.6348Z" fill="white"/>
                                    <path d="M17.5968 23.4912H16.3828V24.7052H17.5968V23.4912Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2279">
                                    <rect width="15.5392" height="15.5392" fill="white" transform="translate(11.6562 11.6543)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 1 дня
                        .objects__item-row
                            .objects__item-icon 
                                <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38.8479" height="38.8479" rx="19.424" fill="#D63546"/>
                                    <g clip-path="url(#clip0_7319_2280)">
                                    <path d="M26.9429 15.2046H26.7334V13.1705C26.7334 12.3216 26.0428 11.6309 25.1938 11.6309H14.0267C12.7944 11.6309 11.7784 12.5734 11.6611 13.7754C11.6432 13.8604 11.6495 13.1036 11.6495 24.8255C11.6495 26.1363 12.7159 27.2026 14.0267 27.2026H26.9429C27.7918 27.2026 28.4825 26.5119 28.4825 25.663V16.7443C28.4826 15.8953 27.7919 15.2046 26.9429 15.2046V15.2046ZM14.0267 12.6884H25.1938C25.4596 12.6884 25.6759 12.9047 25.6759 13.1705V15.2047H14.0267C13.3197 15.2047 12.7409 14.6457 12.7087 13.9465C12.7409 13.2473 13.3197 12.6884 14.0267 12.6884V12.6884ZM26.9429 26.1451H14.0267C13.2991 26.1451 12.7071 25.5531 12.7071 24.8255V15.8614C13.0849 16.1145 13.5388 16.2622 14.0267 16.2622H26.9429C27.2087 16.2622 27.425 16.4784 27.425 16.7443V18.888H23.4457C22.0905 18.888 20.988 19.9905 20.988 21.3457C20.988 22.7009 22.0905 23.8034 23.4457 23.8034H27.425V25.663C27.425 25.9288 27.2087 26.1451 26.9429 26.1451V26.1451ZM27.425 22.7459H23.4457C22.6737 22.7459 22.0455 22.1178 22.0455 21.3457C22.0455 20.5737 22.6736 19.9455 23.4457 19.9455H27.425V22.7459Z" fill="white"/>
                                    <path d="M23.6413 22.1127C24.0645 22.1127 24.4076 21.7696 24.4076 21.3464C24.4076 20.9232 24.0645 20.5801 23.6413 20.5801C23.2181 20.5801 22.875 20.9232 22.875 21.3464C22.875 21.7696 23.2181 22.1127 23.6413 22.1127Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_7319_2280">
                                    <rect width="16.8341" height="16.8341" fill="white" transform="translate(11.6484 11)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            p.objects__item-txt от 3000 руб.
            h2.objects__subtitle.second.subtitle seo текст
            p.objects__desc Соответственно, оценка проводится для определения рыночной стоимости квартир, комнат, частных домов, коттеджей и других зданий, сооружений, помещений. Заказывать рыночную оценку объектов недвижимости могут как физические, так и юридические лица. Среди клиентов нашей компании - владельцы предприятий и других видов бизнеса, в которых для принятия рациональных управленческих решений требуется обладать информацией о цене коммерческой недвижимости. В некоторых случаях объект оценки может быть дополнительно обременён определёнными ограничениями использования (это может быть залог, сдача в аренду или земельный сервитут). Помочь в решении данных вопросов всегда готовы специалисты компании «Территориальное агентство оценки», которые обладают многолетним опытом работы в данной сфере.