mixin payment()
    section.section.payment 
        .payment__body.container 
            h2.payment__title Что есть рыночная стоимость арендной платы? (Н2)
            p.payment__desc Рыночная стоимость аренды (арендная стоимость) - величина арендной платы, за которую может быть сдан в аренду объект недвижимости на дату оценки при типичных рыночных условиях, т. е. если: #[br] #[br]
            li.payment__li на дату оценки аренды объект не занят и готов к сдаче в аренду на условиях конкурентного рынка, а арендодатель и арендатор достаточно осведомлены о характеристиках объекта и     действуют разумно и без принуждения;
            li.payment__li период экспозиции объекта недвижимости достаточен для того, чтобы банк был доступен для потенциальных арендаторов, а также для согласования величины арендной платы, заключения     договора об аренде и других условий, необходимых для сдачи объекта в аренду;
            li.payment__li состояние рынка, динамика ставок арендной платы и другие условия являются типичными на дату оценки аренды, т. е. не являются чрезмерно обременительными или выгодными для   аренды такого типа и данного вида недвижимости;
            li.payment__li состояние рынка, динамика ставок арендной платы и другие условия являются типичными на дату оценки аренды, т. е. не являются чрезмерно обременительными или выгодными для   аренды такого типа и данного вида недвижимости; #[br] #[br]
            h2.payment__title Что представляет собой Отчет об оценке арендной платы? (н3)
            p.payment__desc Что представляет собой Отчет об оценке арендной платы? (НВ соответствии с Требованиями к составлению отчета об оценке (Раздел II, Федеральный стандарт оценки "Требования к отчету об оценке (ФСО №3)", утвержденный Приказом № 254 МЭРТ РФ от 20 июля 2007 г.), Отчет об оценке аренды должен быть пронумерован постранично, прошит, подписан оценщиком или оценщиками, которые провели оценку аренды, а также скреплен печатью и подписью руководителя юридического лица, с которым оценщик или оценщики заключили трудовой договор. При составлении Отчета об оценке аренды оценщик придерживается следующих принципов:3) #[br] #[br]
            li.payment__li в отчете об оценке аренды должна быть изложена вся информация, существенная с точки зрения стоимости аренды объекта оценки (принцип существенности);
            li.payment__li информация, приведенная в отчете об оценке аренды, использованная или полученная в результате расчетов при проведении оценки, существенная с точки зрения стоимости объекта оценки аренды, должна быть подтверждена (принцип обоснованности);
            li.payment__li содержание отчета об оценке аренды не должно вводить в заблуждение пользователей отчета об оценке аренды, а также допускать неоднозначного толкования (принцип однозначности);
            li.payment__li состав и последовательность представленных в отчете об оценке аренды материалов и описание процесса оценки аренды должны позволить полностью воспроизвести расчет стоимости аренды и привести его к аналогичным результатам (принцип проверяемости);
            li.payment__li отчет об оценке аренды не должен содержать информацию, не использующуюся при проведении оценки аренды при определении промежуточных и итоговых результатов, если она не является обязательной согласно требованиям федеральных стандартов оценки и стандартов и правил оценочной деятельности, установленных саморегулируемой организацией, членом которой является оценщик, подготовивший отчет об оценке аренды (принцип достаточности). #[br] #[br]
            p.payment__desc Какими стандартами руководствуется Оценщик при проведении оценки арендной платы? #[br] #[br]            
            p.payment__desc При проведении оценки аренды объекта применяются следующие стандарты: #[br] #[br]     
            li.payment__li Федеральный стандарт оценки: "Общие понятия оценки, подходы и требования к проведению оценки (ФСО №1)", утвержденный Приказом № 256 МЭРТ РФ от 20 июля 2007 г.;      
            li.payment__li Федеральный стандарт оценки "Цель оценки и виды стоимости (ФСО №2)", утвержденный Приказом № 255 МЭРТ РФ от 20 июля 2007 г.;
            li.payment__li Федеральный стандарт оценки "Требования к отчету об оценке (ФСО №3)", утвержденный Приказом № 254 МЭРТ РФ от 20 июля 2007 г.;
            li.payment__li Международные стандарты оценки (International Valuation Standards) Международного комитета по стандартам оценки (International Valuation Standards Committee) IVSC. #[br] #[br]
            p.payment__desc Какие этапы включает в себя оценка арендной платы? #[br] #[br]
            p.payment__desc Оценка аренды объекта включает в себя следующие этапы: #[br] #[br]
            p.payment__desc 1. Установление количественных и качественных характеристик объекта оценки арендной платы. На данном этапе Оценщиком собирается детальная информация, относящаяся к оцениваемому недвижимому имуществу. Сбор данных осуществляется путем визуального осмотра объекта Оценщиком и анализа информации об объекте, предоставленной Заказчиком. Сбор информации об объекте оценки арендной платы производится по следующим направлениям: #[br] #[br] 
            li.payment__li имущественные права и обременения, связанные с объектом;
            li.payment__li местоположение объекта оценки аренды;
            li.payment__li физические характеристики объекта;
            li.payment__li информация о текущем использовании объекта. #[br] #[br] 
            p.payment__desc 2. Анализ рынка, а также других внешних факторов, не относящихся непосредственно к оценке арендной платы, но влияющей на ее рыночную стоимость. На этом этапе Оценщиком собирается информация по всем ценообразующим факторам, влияющим на рыночную стоимость объекта оценки арендной платы и использовавшихся при ее определении. Сбор данных производится по следующим направлениям: #[br] #[br] 
            li.payment__li макроэкономические факторы, влияющие на рыночную стоимость