mixin prices()
    section.section.prices 
        .prices__body.container 
            h1.prices__title.title.disable-xxl цены
            .prices__content 
                .accordion 
                    button(type="button").accordion__button.active
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="40" y="40" width="40" height="40" rx="20" transform="rotate(-180 40 40)" fill="#D63546"/>
                            <g clip-path="url(#clip0_7329_2280)">
                            <path d="M20.7921 15.7681L27.6716 22.6478C28.1095 23.0855 28.1095 23.795 27.6716 24.2325C27.2342 24.6699 26.5246 24.6699 26.0872 24.2325L19.9999 18.1449L13.9128 24.2323C13.4751 24.6697 12.7657 24.6697 12.3282 24.2323C11.8906 23.7948 11.8906 23.0853 12.3282 22.6477L19.2079 15.7679C19.4267 15.5492 19.7132 15.44 19.9999 15.44C20.2866 15.44 20.5734 15.5494 20.7921 15.7681Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7329_2280">
                            <rect width="16" height="16" fill="white" transform="translate(12 28) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg> Оценка недвижимости
                    .accordion__content.active 
                        .prices__wrapper 
                            .prices__top 
                                p.prices__p.prices__item_1 Вид объектов
                                p.prices__p.prices__item_2 Ед. изм.
                                span.prices__span.prices__item_3 Стоимость мин. нормативных затрат #[br] оценщика, руб.
                                p.prices__p.prices__item_4 Сроки
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня 
                .accordion 
                    button(type="button").accordion__button
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="40" y="40" width="40" height="40" rx="20" transform="rotate(-180 40 40)" fill="#D63546"/>
                            <g clip-path="url(#clip0_7329_2280)">
                            <path d="M20.7921 15.7681L27.6716 22.6478C28.1095 23.0855 28.1095 23.795 27.6716 24.2325C27.2342 24.6699 26.5246 24.6699 26.0872 24.2325L19.9999 18.1449L13.9128 24.2323C13.4751 24.6697 12.7657 24.6697 12.3282 24.2323C11.8906 23.7948 11.8906 23.0853 12.3282 22.6477L19.2079 15.7679C19.4267 15.5492 19.7132 15.44 19.9999 15.44C20.2866 15.44 20.5734 15.5494 20.7921 15.7681Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7329_2280">
                            <rect width="16" height="16" fill="white" transform="translate(12 28) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg> экспертиза недвижимости
                    .accordion__content 
                        .prices__wrapper 
                            .prices__top 
                                p.prices__p.prices__item_1 Вид объектов
                                p.prices__p.prices__item_2 Ед. изм.
                                span.prices__span.prices__item_3 Стоимость мин. нормативных затрат #[br] оценщика, руб.
                                p.prices__p.prices__item_4 Сроки
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                .accordion 
                    button(type="button").accordion__button
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="40" y="40" width="40" height="40" rx="20" transform="rotate(-180 40 40)" fill="#D63546"/>
                            <g clip-path="url(#clip0_7329_2280)">
                            <path d="M20.7921 15.7681L27.6716 22.6478C28.1095 23.0855 28.1095 23.795 27.6716 24.2325C27.2342 24.6699 26.5246 24.6699 26.0872 24.2325L19.9999 18.1449L13.9128 24.2323C13.4751 24.6697 12.7657 24.6697 12.3282 24.2323C11.8906 23.7948 11.8906 23.0853 12.3282 22.6477L19.2079 15.7679C19.4267 15.5492 19.7132 15.44 19.9999 15.44C20.2866 15.44 20.5734 15.5494 20.7921 15.7681Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_7329_2280">
                            <rect width="16" height="16" fill="white" transform="translate(12 28) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg> Оценка недвижимости
                    .accordion__content 
                        .prices__wrapper 
                            .prices__top 
                                p.prices__p.prices__item_1 Вид объектов
                                p.prices__p.prices__item_2 Ед. изм.
                                span.prices__span.prices__item_3 Стоимость мин. нормативных затрат #[br] оценщика, руб.
                                p.prices__p.prices__item_4 Сроки
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня
                            .prices__item 
                                p.prices__text.prices__item_1 Квартира (компната)
                                p.prices__text.prices__item_2 Ед.
                                p.prices__text.prices__item_3 от 2500 до 3500
                                p.prices__text.prices__item_4 3 дня