mixin rates()
    section.section.rates 
        .rates__body.container
            .rates__left
                p.rates__txt #[a(href="index.html").rates__link Главная] #[span /] #[a(href="services.html").rates__link Наши услуги ] #[span /] #[a(href="#!").rates__link Информационная безопасность]
                h1.intro__title Независимая оценка недвижимости
                p.rates__desc Оценка недвижимого имущества представляет собой популярную и востребованную услугу, которая позволяет узнать ее стоимость: рыночную, кадастровую, ликвидационную или инвестиционную. 
                .rates__content 
                    .rates__item 
                        .rates__item-img 
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="60" height="60" rx="30" fill="#D63546"/>
                                <path d="M30.9375 28.7812H29.0625V30.6562H30.9375V28.7812Z" fill="white"/>
                                <path d="M39.1875 19.875H38.0625V18H36.1875V19.875H23.8125V18H21.9375V19.875H20.8125C19.2617 19.875 18 21.1367 18 22.6875V39.1875C18 40.7383 19.2617 42 20.8125 42H27.0469H27.1875H30.4576C29.8094 41.465 29.2448 40.8323 28.7859 40.125H27.1875H27.0469H20.8125C20.2956 40.125 19.875 39.7044 19.875 39.1875V26.8125H40.125V28.6875V28.7812V28.7859C40.8323 29.2448 41.465 29.8095 42 30.4576V28.7812V28.6875V22.6875C42 21.1367 40.7383 19.875 39.1875 19.875ZM40.125 24.9375H19.875V22.6875C19.875 22.1706 20.2956 21.75 20.8125 21.75H21.9375V23.625H23.8125V21.75H36.1875V23.625H38.0625V21.75H39.1875C39.7044 21.75 40.125 22.1706 40.125 22.6875V24.9375Z" fill="white"/>
                                <path d="M35.6719 29.3438C32.1825 29.3438 29.3438 32.1825 29.3438 35.6719C29.3438 39.1612 32.1825 42 35.6719 42C39.1612 42 42 39.1612 42 35.6719C42 32.1825 39.1612 29.3438 35.6719 29.3438ZM35.6719 40.125C33.2164 40.125 31.2188 38.1273 31.2188 35.6719C31.2188 33.2164 33.2164 31.2188 35.6719 31.2188C38.1273 31.2188 40.125 33.2164 40.125 35.6719C40.125 38.1273 38.1273 40.125 35.6719 40.125Z" fill="white"/>
                                <path d="M36.5625 32.5312H34.6875V36.6094H38.1562V34.7344H36.5625V32.5312Z" fill="white"/>
                                <path d="M27.1875 32.5312H25.3125V34.4062H27.1875V32.5312Z" fill="white"/>
                                <path d="M23.4375 32.5312H21.5625V34.4062H23.4375V32.5312Z" fill="white"/>
                                <path d="M23.4375 28.7812H21.5625V30.6562H23.4375V28.7812Z" fill="white"/>
                                <path d="M23.4375 36.2812H21.5625V38.1562H23.4375V36.2812Z" fill="white"/>
                                <path d="M27.1875 28.7812H25.3125V30.6562H27.1875V28.7812Z" fill="white"/>
                                <path d="M27.1875 36.2812H25.3125V38.1562H27.1875V36.2812Z" fill="white"/>
                            </svg>
                        p.rates__p от 1 дня
                    .rates__item 
                        .rates__item-img 
                            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="60" height="60" rx="30" fill="#D63546"/>
                                <g clip-path="url(#clip0_7316_2296)">
                                <path d="M41.6221 23.4942H41.2986V20.3526C41.2986 19.0414 40.2318 17.9746 38.9206 17.9746H21.6732C19.7699 17.9746 18.2007 19.4304 18.0195 21.2868C17.9919 21.418 18.0017 20.2492 18.0017 38.3535C18.0017 40.378 19.6487 42.0249 21.6731 42.0249H41.622C42.9332 42.0249 44 40.9582 44 39.647V25.8722C44 24.561 42.9333 23.4942 41.6221 23.4942ZM21.6732 19.608H38.9206C39.3312 19.608 39.6652 19.942 39.6652 20.3526V23.4943H21.6732C20.5812 23.4943 19.6873 22.631 19.6375 21.5511C19.6873 20.4712 20.5812 19.608 21.6732 19.608ZM41.6221 40.3916H21.6732C20.5494 40.3916 19.6351 39.4773 19.6351 38.3535V24.5086C20.2186 24.8995 20.9197 25.1276 21.6732 25.1276H41.6221C42.0326 25.1276 42.3667 25.4616 42.3667 25.8722V29.1831H36.2208C34.1277 29.1831 32.4248 30.8859 32.4248 32.979C32.4248 35.0721 34.1277 36.7749 36.2208 36.7749H42.3667V39.647C42.3667 40.0576 42.0326 40.3916 41.6221 40.3916ZM42.3667 35.1416H36.2208C35.0283 35.1416 34.0581 34.1715 34.0581 32.9791C34.0581 31.7866 35.0283 30.8165 36.2208 30.8165H42.3667V35.1416Z" fill="white"/>
                                <path d="M36.5195 34.163C37.1732 34.163 37.7031 33.6331 37.7031 32.9795C37.7031 32.3258 37.1732 31.7959 36.5195 31.7959C35.8658 31.7959 35.3359 32.3258 35.3359 32.9795C35.3359 33.6331 35.8658 34.163 36.5195 34.163Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_7316_2296">
                                <rect width="26" height="26" fill="white" transform="translate(18 17)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        p.rates__p от 3000 руб.
            .rates__img 
                img(src="@img/rates-img.png", alt="" draggable="false" loading="lazy")