mixin services()
    section.section.services 
        .services__body.container
            h1.services__title.title Наши услуги
            h2.services__subtitle.subtitle Наши услуги
            .services__content 
                .services__item 
                    