mixin works()
    section.section.works 
        .works__body.container 
            h1.works__title.title.disable-xxl Этапы работы
            h2.works__subtitle.subtitle.white этапы работы
            .works__content.first
                .works__item 
                    p.works__p Сбор и анализ первичной информации
                    .works__img 
                        img(src="@img/works-1.png", alt="" draggable="false" loading="lazy")
                .works__item 
                    p.works__p Нахождение оптимального решение поставленной задачи
                    .works__img 
                        img(src="@img/works-2.png", alt="" draggable="false" loading="lazy")
                .works__item 
                    p.works__p Сбор необходимых документов от заказчика
                    .works__img 
                        img(src="@img/works-3.png", alt="" draggable="false" loading="lazy")
                .works__item 
                    p.works__p Проведение #[br] основной работы, осмотр
                    .works__img 
                        img(src="@img/works-4.png", alt="" draggable="false" loading="lazy")
                .works__item 
                    p.works__p Получение отчета об оценке
                    .works__img 
                        img(src="@img/works-5.png", alt="" draggable="false" loading="lazy")
                .works__item 
                    p.works__p Сопровождение клиента до достижения #[br] конечной цели
                    .works__img 
                        img(src="@img/works-6.png", alt="" draggable="false" loading="lazy")
            .works__content.second
                .works__top
                    .works__item 
                        p.works__p Сбор и анализ первичной информации
                        .works__img 
                            img(src="@img/works-1.png", alt="" draggable="false" loading="lazy")
                    .works__item 
                        p.works__p Нахождение оптимального решение поставленной задачи
                        .works__img 
                            img(src="@img/works-2.png", alt="" draggable="false" loading="lazy")
                    .works__item 
                        p.works__p Сбор необходимых документов от заказчика
                        .works__img 
                            img(src="@img/works-3.png", alt="" draggable="false" loading="lazy")
                .works__bottom
                    .works__item 
                        p.works__p Проведение #[br] основной работы, осмотр
                        .works__img 
                            img(src="@img/works-4.png", alt="" draggable="false" loading="lazy")
                    .works__item 
                        p.works__p Получение отчета об оценке
                        .works__img 
                            img(src="@img/works-5.png", alt="" draggable="false" loading="lazy")
                    .works__item 
                        p.works__p Сопровождение клиента до достижения #[br] конечной цели
                        .works__img 
                            img(src="@img/works-6.png", alt="" draggable="false" loading="lazy")